<div class="container">
  <div class="grid grid-cols-12 gap-3">
    <div class="col-span-3 lg:col-span-1">
      <img class="rounded-full icon" src="../../../../assets/user-solid.svg" />
    </div>

    <div class="col-span-6 lg:col-span-9">
      <div class="space-y-2">
        <div>
          <p class="font-semibold text-lg">Tarun Singh</p>
          <p class="opacity-80">22 July 2024</p>
        </div>

        <div><app-ratings></app-ratings></div>
        <p>nice product, I like white kurta</p>
      </div>
    </div>
  </div>
</div>
