<footer class="bg-[#272727] text-white mt-10 text-center px-5 lg:px-20">
  <div class="container">
    <div class="py-3 flex justify-between">
      <div class="px-4">
        <h3 class="pb-5 text-lg font-semibold text-gray-500">Company</h3>
        <p class="mb-2">About</p>
        <p class="mb-2">Blog</p>
        <p class="mb-2">Jobs</p>
        <p class="mb-2">Press</p>
        <p class="mb-2">Partners</p>
      </div>
      <div class="px-4">
        <h3 class="pb-5 text-lg font-semibold text-gray-500">Solutions</h3>
        <p class="mb-2">Marketing</p>
        <p class="mb-2">Analytics</p>
        <p class="mb-2">Commerce</p>
        <p class="mb-2">Insights</p>
        <p class="mb-2">Support</p>
      </div>
      <div class="hidden min-[410px]:block px-4">
        <h3 class="pb-5 text-lg font-semibold text-gray-500">Documentation</h3>
        <p class="mb-2">Guides</p>
        <p class="mb-2">API Status</p>
      </div>
      <div class="hidden min-[510px]:block px-4">
        <h3 class="pb-5 text-lg font-semibold text-gray-500">Legal</h3>
        <p class="mb-2">Claim</p>
        <p class="mb-2">Privacy</p>
        <p class="mb-2">Temrs</p>
      </div>
    </div>
    <div class="pt-10 pb-4 text-center text-gray-600">
      <p>&copy; 2024 The Clothing Store. All rights reserved</p>
    </div>
  </div>
</footer>
